<div class="container">
	<ul class="documents_download">
		<li>
			<a href="assets/cv.pdf" download>
				<div class="download_element">
					<svg class="download_mimetype">
						<use xlink:href="{{ '/assets/symbol-defs.svg#pdf' | relative_url }}">
						</use>
					</svg>
					<span>Curriculum vitae</span>
				</div>
			</a>
		</li>
		<li>
			<a href="assets/cover_letter.pdf" download>
				<div class="download_element">
					<svg class="download_mimetype">
						<use xlink:href="{{ '/assets/symbol-defs.svg#pdf' | relative_url }}">
						</use>
					</svg>
					<span>Cover Letter</span>
				</div>
			</a>
		</li>
	</ul>
</div>